body{
    background-color: rgb(43, 90, 104);
    font-size: 20px;
    padding: 10px;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

span{ color: white;}
article{display: flex;
         padding: 5px;
        }
#UI{height: 100px;
    width: 700px;
    margin: 5px;
    margin-bottom: -28px;
    text-align: center;
    background-color: black;
}
#income{
    width:350px;
    height: 400px;
    text-align: center;
    background-color: black;
    color: white;
}
#outcome{
    width:350px;   
    height: 400px;
    text-align: center;
    background-color: black;
    color: white;
}
#remender{height: 200px;
         margin: 0px;
         text-align: center;
         margin-top: -5px;
         width: 700px;
         background-color: black;
         color: white;
}
#button1{
   background-color:green;
   height: 30px;
   width: 30px;
   margin-top: 30px;
   margin-right: 10px;
   font-size: 20px;
}
#button2{
    background-color: red;
    height: 30px;
    width: 30px;
    margin-top: 30px;
    margin-left: 10px;
    font-size: 20px;
}
#input{
    height: 30px;
    width: 200px;
    margin-top: 30px;
}
#input::placeholder{
    text-align: center;
}
#display1, #display2{
    width: 230px;
    height: 100px;
    background-color: rgb(43, 90, 104);
    text-align: center;
    margin: 10px;
    margin-left: 30px;
    margin-top: 40px;
    padding: 30px;
    overflow: scroll;
}
#result1, #result2{
    margin: 30px;
    background-color:  rgb(43, 90, 104); 
    height: 30px;
    width: 270px;
    padding: 10px;
    text-align: center;
}
 #button4{
    height: 40px;
    width: 100px;
    background-color: red;
}
#button3{
    height: 40px;
    width: 100px;
    background-color: green;
}
#button5, #reset{
     height: 40px;
     width: 150px;
     background-color: white;
     margin: 20px;
     margin-top: 30px;
}
#totalResult{
    margin: 10px;
    margin-left: 150px;
    background-color: rgb(43, 90, 104); 
    height: 50px;
    width: 370px;
    text-align: center;
    padding: 10px;
    }
footer{
    text-align: center;
    font-size: 70%;
    color: white;
    margin-top: 20px;
}
h1{
    text-align: center;
}
@media only screen and (max-width: 600px) {
    body{
    background-color: white;
    font-size: 15px;
    padding: 10px;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

span{ color: skyblue;}
article{display: flex;
         padding: 5px;
        }
#UI{height: 100px;
    width: 500px;
    margin: 5px;
    margin-bottom: -28px;
    text-align: center;
    background-color: white;
}
#income{
    width:227px;
    height: 400px;
    text-align: center;
    background-color: white;
    color: white
}
#outcome{
    width:227px;   
    height: 400px;
    text-align: center;
    background-color: white;
    color: white;
}
#remender{height: 200px;
         margin: 0px;
         text-align: center;
         margin-top: -5px;
          width: 454px;
          background-color: white;
         color: white;
}
#button1{
   background-color:green;
   height: 30px;
   width: 30px;
   margin-top: 30px;
   margin-right: 10px;
   font-size: 20px;
}
#button2{
    background-color: red;
    height: 30px;
    width: 30px;
    margin-top: 30px;
    margin-left: 10px;
    font-size: 20px;
}
#input{
    height: 30px;
    width: 200px;
    margin-top: 30px;

}
#input::placeholder{
    text-align: center;
}
#display1, #display2{
    width: 130px;
    height: 100px;
    background-color: rgb(43, 90, 104);
    text-align: center;
    margin: 10px;
    margin-left: 10px;
    margin-top: 40px;
    padding: 30px;
    overflow: scroll;
}
#result1, #result2{
    margin: 30px;
    background-color:  rgb(43, 90, 104); 
    height: 50px;
    width: 150px;
    padding: 10px;
    text-align: center;
}
 #button4{
    height: 40px;
    width: 100px;
    background-color: red;
}
#button3{
    height: 40px;
    width: 100px;
    background-color: green;
}
#button5, #reset{
     height: 40px;
     width: 150px;
     background-color: skyblue;
     margin: 20px;
     margin-top: 30px;
     
}
#totalResult{
    margin: 10px;
    margin-left: 80px;
    background-color: rgb(43, 90, 104); 
    height: 50px;
    width: 280px;
    text-align: center;
    padding: 10px;
    }
footer{
    text-align: center;
    font-size: 70%;
    color: black;
    margin-top: 20px;}
    
}